# Environment Variables
.env
.env.*
!.env.example

# Virtual Environments
.venv/
.venv-1/
.venv_old/
venv/
venv_mlflow/

# Python Cache
__pycache__/
*.pyc

# MLflow
mlflow.db
mlruns/
mlartifacts/

# VS Code
.vscode/

# IntelliJ
.idea/

# Logs
*.log

# Airflow local runtime
airflow/airflow.cfg
airflow/airflow.db

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
