.venv/
.venv_new/
venv_mlflow/

.env

__pycache__/
*.py[cod]

.pytest_cache/

airflow/logs/
airflow/airflow.db
airflow/simple_auth_manager_passwords.json.generated

mlartifacts/
mlruns/
mlflow.db

*.log

*.backup
fraud_model_v1.pkl
