fastapi
uvicorn[standard]
pydantic
SQLAlchemy
psycopg2-binary
python-dotenv
requests
pandas
openpyxl
google-genai
mlflow
pytest
pytest-asyncio
httpx
apache-airflow
pendulum
matplotlib
scikit-learn
joblib
redis
sentry-sdk
kafka-python
apscheduler
chromadb
sentence-transformers
xgboost
vaderSentiment
yfinance
